@use "sass:map";
@use "sass:color";
@use "mixins" as m;
@use "variables" as v;
@use "header";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  @include m.siteMain;
  color: map.get(v.$colors, text);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn-blue {
  display: block;
  padding: 12px 30px;
  border-radius: 2px;
  background: map.get(v.$colors, secondary-color);
  @include m.transition(all, 0.3s, ease);

  span {
    &:after {
      content: "\F138";
      font-family: bootstrap-icons;
      position: relative;
      top: 3px;
      left: 3px;
    }
  }
  &:hover {
    background: color.adjust(
      map.get(v.$colors, secondary-color),
      $lightness: -10%
    );
  }
}
.video-background {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    @include m.translate(-50%, -50%);
  }
}

main {
  position: relative;
  z-index: 1;
  top: -450px;
  padding-top: 6rem;
}

.homeMain-title {
  // @include m.gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 72.28%);
  padding: 50px 0 150px 0;
  h1 {
    font-size: clamp(2rem, 6vw, 6rem);
  }
}

.aboutHome {
  h2 {
    font-size: clamp(1.5rem, 2.3vw, 2.3rem);
    padding-bottom: 68px;
  }
}
