@use "sass:map";
@use "./variables" as v;
@use "./mixins" as m;
//header styles
header {
  .nav-link {
    text-transform: uppercase;
    font-weight: map.get(v.$font-weights, "medium");
    color: map.get(v.$colors, "black");
    padding: 0.5rem 1rem !important;
    font-size: v.$fsize - 5;
  }
  // Dropdown Menu on hover
  .nav-item.dropdown:hover > .dropdown-menu,
  .nav-item.dropdown:focus-within > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    border: none;
  }
  .dropdown-item {
    padding: 10px 20px;
    font-size: v.$fsize - 5;
    font-weight: map.get(v.$font-weights, "medium");
    @include m.transition(all, 0.5s, linear);

    &:hover {
      background-color: map.get(v.$colors, "secondary-color");
      color: map.get(v.$colors, "black");
    }
  }
}
