@use "sass:map";
@use "./variables" as v;
@use "./mixins" as m;
//header styles
header {
  @include m.transition(all, 0.5s, ease);
  .logo{
    @include m.transition(all, 0.5s, ease);
  }
  .navbar{
    @include m.transition(all, 0.5s, ease);
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: map.get(v.$font-weights, "medium");
    color: map.get(v.$colors, "black");
    padding: 0.5rem 1rem !important;
    font-size: v.$fsize - 5;

    @include m.respond-below(map.get(v.$breakpoints, "md")){
      color:map.get(v.$colors, "white");
    }

    &:hover{
      color: map.get(v.$colors, "secondary-color");
    }
  }
  // Dropdown Menu on hover
  .nav-item.dropdown:hover > .dropdown-menu,
  .nav-item.dropdown:focus-within > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    border: none;
  }
  .dropdown-item {
    padding: 10px 20px;
    font-size: v.$fsize - 5;
    font-weight: map.get(v.$font-weights, "medium");
    @include m.transition(all, 0.5s, ease);

    &:hover {
      background-color: map.get(v.$colors, "secondary-color");
      color: map.get(v.$colors, "black");
    }
  }
}

.scrolledHeader{
  @include m.transition(all, 0.5s, ease);
  padding:5px 0;
  .logo{
    width:100px;
  }
  .navbar{
    padding:0;
  }
}
