@use "sass:map";
@use "sass:color";
@use "./mixins" as m;
@use "./variables" as v;
@use "./header";
@use "./Footer";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background: url("./assets/images/body-bg.png") repeat 0 0,
    linear-gradient(172deg, #0c003a 0.5%, #020009 100%);
  @include m.siteMain;
  color: map.get(v.$colors, "white");

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: clamp(0.8rem, 1.25vw, 1.25rem);
  }

  .custom-container {
    width: 90%;
    margin: 0 auto;

    @include m.respond-below(map.get(v.$breakpoints, "md")) {
      width: 95%;
    }
  }

  //buttons styles
  .btnsimple{
    padding:0.8rem 1.6rem;
    font-size: v.$fsize - 3;
    text-transform: uppercase;
    font-weight: map.get(v.$font-weights, "medium");
    color: map.get(v.$colors, "white");
    @include m.transition(all, 0.5s, linear);   
    display: inline-block;    
    position: relative;    
  }

  .bluebtn{
    @extend .btnsimple;
    background-color: map.get(v.$colors, "primary-color");
    color:map.get(v.$colors, "white");

    &:hover{
        background-color:map.get(v.$colors, "dark-primary-color");
        color:map.get(v.$colors, "white");
    }
  }

  .orangebtn{
    @extend .btnsimple;
    background-color: map.get(v.$colors, "secondary-color");
    color:map.get(v.$colors, "black");

    &:hover{
        background-color:map.get(v.$colors, "dark-secondary-color");
        color:map.get(v.$colors, "black");
    }
  }  
}

.Hero-Video-Section{
  .Hero-Overlay{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #050019 100%);

    h1{
      font-size:clamp(2.5rem, 5.5vw, 5.5rem);
      text-shadow: 0px 0px 10px rgba(0, 3, 2, 0.5);
      letter-spacing: -1px;
    }
    p{
      font-size:clamp(1.5rem, 2vw, 2rem);
      margin-bottom:1.5rem;
    }
  }
}
